body{
	background-color: #F7F7D5;
	margin: 0 auto;
	width: 900px;
}
h1,h2{
	text-align: center;
}
#article-one{
	float: left;
	width: 450px;}
#article-two{
	float: left;
	width: 450px;
}
#main-image{
	float: left;
	padding: 3px;
}
#facebook{
	position: fixed;
	left: 5px;
}